footer.footer-area.section-padding
  .container
    .row
      .col-md-12
        .footer-text.text-center
          ul.social-icon
            li
              a.twitter(href='#')
                i.lni-twitter-filled
          p
            | Copyright &copy; 2021 
            a(href='#')
            | | Crafted by 
            a(href='#' target='_blank') Team Avocado