header#header-wrap
  .menu-wrap
    .menu.navbar
      .menu-list.navbar-collapse
        ul.onepage-nev.navbar-nav
          li.nav-item.active
            a.nav-link(href='#header-wrap') Home
          li.nav-item
            a.nav-link(href='#services') Services
          li.nav-item
            a.nav-link(href='#team') Team
          li.nav-item
            a.nav-link(href='#contact') Contact
    button#close-button.close-button
      i.lni-close
  // Navbar Start
  nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.menu-bg
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main-navbar' aria-controls='main-navbar' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
          span.lni-menu
          span.lni-menu
          span.lni-menu
        a.navbar-brand(href='index.html')
          img(src='assets/img/logo.png' alt='')
      #main-navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.w-100.justify-content-end.clearfix
          li#open-button.nav-item
            a.nav-link
              i.lni-menu
    // Mobile Menu Start
    ul.mobile-menu
      li
        a(href='#header-wrap') Home
      li
        a(href='#services') Services
      li
        a(href='#team') Team
      li
        a(href='#contact') Contact
    // Mobile Menu End
  // Navbar End
// Intro Section Start