BASE_URL=http://localhost:8080
MONGODB_URI=mongodb://localhost:27017/test
SITE_CONTACT_EMAIL=youremail@yourdomain.com

SESSION_SECRET=Your Session Secret goes here

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

SMTP_USER=none
SMTP_PASSWORD=none

SENDGRID_API_KEY=hdgfadsfahg---apikey---hdgfadsfahg

RECAPTCHA_SITE_KEY=JKHGxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxJG
RECAPTCHA_SECRET_KEY=87ehxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx3298

ALPHA_VANTAGE_KEY=api-key

NFT_MAKER_KEY=
NFT_MAKER_PROJECTID=
NFT_PRICE_LOVELACE_SINGLE=6500000
NFT_PRICE_LOVELACE_FIVE=22500000