extends layout

//- form(action='/mint', method='POST')
//-   p
//-     | amount: 
//-     input(type='text', name='amount', value='1')
//-     | lol:
//-     
//-   input(type='submit', value='Submit')

block content
  section.intro
    .container
      .row.text-center
        .col-md-12.col-sm-12.col-xs-12
          .heading-count
            h2 Coming Soon
            p Our exciting new website is coming soon! Check back later...
        .col-md-12.col-sm-12.col-xs-12
          .row.countdown.justify-content-center
            #clock.time-count
          //- include partials/flash
      .row
        .col.col-md-6.col-sm-6.col-xs-6.text-right.px-0
          form(action='#', method='POST' id="mintForm" #mintForm)
            input(type='hidden', name='_csrf', id="_csrf" value=_csrf)
            select.custom-select.custom-select-lg.mb-3.custom-select-sm(name='amount', id="amount", onchange="onAmountChange(this.options[this.selectedIndex].value)")
              option(value='1' selected='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
            input(type='submit', value='Submit' #submitMintButton hidden)
        .col.col-md-6.col-sm-6.col-xs-6.text-left
          a.btn.btn-common(id="mintButton", onclick='mint()' style='padding: 12px 20px;margin-left: 0px; min-width: 135px;')
            span Mint 1 Token
        .col-md-12.col-sm-12.col-xs-12
          //- a.btn.btn-border(href='#team') About Us
          //- a.btn.btn-border(href='#team') About Us
          //- .mt-4.mintAddressDiv.container.d-none
          .mt-4.mintAddressDiv.container
            .row.text-center
              .col-md-12.col-sm-12.col-xs-12.p-3
                .d-block
                  span Pay &nbsp;
                  strong Exactly &nbsp;
                  span(id="mintFee") 150 ₳
                .d-block
                  span To:&nbsp;
                  span(id='mintAddressText')
                  strong addr112838102738018test
                  a.btn.btn-border.m-0.btn-sm.btn-secondary
                    i.lni.lni-clipboard
                .d-block
                  span(id="mintExpire") Until
                  strong  23.20:19
              .col-md-12.col-sm-12.col-xs-12
                a.btn.btn-border(href='#team') Cancel
      .row.text-center.justify-content-center
        .social.mt-4
          a.facebook(href='#')
            i.lni-facebook-filled
          a.twitter(href='#')
            i.lni-twitter-filled
          a.instagram(href='#')
            i.lni-instagram-filled
          a.google(href='#')
            i.lni-google-plus
        a.target-scroll.page-scroll(href='#services')
          i.lni-chevron-down
  //- // Intro Section End
  section#services.section-padding
    .container
      .row.justify-content-center
        .col-md-8.col-lg-8.col-xs-12.text-center
          h6.subtitle
            | What We Do
          h2.section-title
            | We Provide Creative Solutions
          .section-info
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nulla neque
            | tempore rerum dolore accusamus, eum, officia nostrum sequi explicabo aspernatur asperiores.
      .row
        .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
            .icon
              i.lni-brush
            h3
              a(href='#') Web Design
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt laboriosam harum, voluptatem fugiat perspiciatis.
        .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp' data-delay='300')
          .services-item
            .icon
              i.lni-mobile
            h3
              a(href='#') App Development
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt laboriosam harum, voluptatem fugiat perspiciatis.
        .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp' data-delay='600')
          .services-item
            .icon
              i.lni-bullhorn
            h3
              a(href='#') Internet Marketing
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt laboriosam harum, voluptatem fugiat perspiciatis.
  //- // Team Section Start
  section#team.section-padding
    .container
      .row.justify-content-center
        .col-md-8.col-lg-8.col-xs-12.text-center
          h6.subtitle
            | Meet Our
          h2.section-title
            | Our awesome team
          .section-info
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nulla neque
            | tempore rerum dolore accusamus, eum, officia nostrum sequi explicabo aspernatur asperiores.
      .row
        .col-sm-6.col-md-6.col-lg-3
          // Team Item Starts
          .team-item.text-center
            .team-img
              img.img-fluid(src='/img/team/team-01.jpg' alt='')
              .team-overlay
                .overlay-social-icon.text-center
                  ul.social-icons
                    li
                      a(href='#')
                        i.lni-facebook-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-twitter-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-instagram-filled(aria-hidden='true')
            .info-text
              h3
                a(href='#') Emilly Williams
              p Product Designer
          // Team Item Ends
        .col-sm-6.col-md-6.col-lg-3
          // Team Item Starts
          .team-item.text-center
            .team-img
              img.img-fluid(src='/img/team/team-02.jpg' alt='')
              .team-overlay
                .overlay-social-icon.text-center
                  ul.social-icons
                    li
                      a(href='#')
                        i.lni-facebook-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-twitter-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-instagram-filled(aria-hidden='true')
            .info-text
              h3
                a(href='#') Patric Green
              p Front-end Developer
          // Team Item Ends
        .col-sm-6.col-md-6.col-lg-3
          // Team Item Starts
          .team-item.text-center
            .team-img
              img.img-fluid(src='/img/team/team-03.jpg' alt='')
              .team-overlay
                .overlay-social-icon.text-center
                  ul.social-icons
                    li
                      a(href='#')
                        i.lni-facebook-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-twitter-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-instagram-filled(aria-hidden='true')
            .info-text
              h3
                a(href='#') Paul Kowalsy
              p Lead Designer
          // Team Item Ends
        .col-sm-6.col-md-6.col-lg-3
          // Team Item Starts
          .team-item.text-center
            .team-img
              img.img-fluid(src='/img/team/team-04.jpg' alt='')
              .team-overlay
                .overlay-social-icon.text-center
                  ul.social-icons
                    li
                      a(href='#')
                        i.lni-facebook-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-twitter-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-instagram-filled(aria-hidden='true')
            .info-text
              h3
                a(href='#') Jhon Doe
              p Back-end Developer
        .col-sm-6.col-md-6.col-lg-3
          // Team Item Starts
          .team-item.text-center
            .team-img
              img.img-fluid(src='/img/team/team-04.jpg' alt='')
              .team-overlay
                .overlay-social-icon.text-center
                  ul.social-icons
                    li
                      a(href='#')
                        i.lni-facebook-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-twitter-filled(aria-hidden='true')
                    li
                      a(href='#')
                        i.lni-instagram-filled(aria-hidden='true')
            .info-text
              h3
                a(href='#') Jhon Doe
              p Back-end Developer
          // Team Item Ends
    //- // Team Section End

  //- // Contact Section Start
  //- section#contact.section-padding
    .container
      .row.justify-content-center
        .col-md-8.col-lg-8.col-xs-12.text-center
          h6.subtitle
            | Connect With Us
          h2.section-title
            | Get in Touch
          .section-info
            | Lorem ipsum dolor sit amet, ut consul mediocrem abhorreant cum. Id eum dolores.
            | Delicatissimi ne pri modo accusamus. Augue vitae primis antiopam nec ex rationibus.
      form
        .row
          // Contact form
          .col-md-8
            .row
              .col-md-6
                label Your Name
                input#name.form-control(type='text' name='email' required='' data-error='Please enter your name')
                .help-block.with-errors
              .col-md-6
                label Your E-mail
                input#email.form-control(type='email' name='email' required='' data-error='Please enter your Email')
                .help-block.with-errors
            .row
              .col-md-12
                label Your Message
                textarea#message.form-control(rows='4' name='message' required='' data-error='Write your message')
            // Submit Button
            .row
              .col-md-12
                button#form-submit.btn.btn-common(type='submit')
                  i.fa.fa-paper-plane(aria-hidden='true')
                  |   Send Message
                #msgSubmit.h3.text-center.hidden
          // Contact info
          .col-md-4.contact-right
            .contact-box
              h4 Address
              p
                | 1900 Pico Blvd, New York 
                br
                |  Centernial, colorado
            .contact-box
              h4 Call Us
              p +48 123 456 789
            .contact-box
              h4 Say Hello
              p
                a(href='#') info@example.com
    //- // Contact Section End
  
  //- // Go to Top Link
  a.back-to-top(href='#')
    i.lni-chevron-up
  //- // Preloader
  #preloader
    #loader-1.loader