extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 API Examples

    .col-md-4
      a(href='/api/chart', style='color: #000')
        .card(style='background-color: #FFFFFF').mb-3
          .card-body
            img(src='https://www.chartjs.org/img/chartjs-logo.svg', height=40)
            |  Chart.js + Alpha Vantage
